/* Reset */
body {
  margin: 0;
  font-family: Consolas, Arial Narrow, Helvetica, sans-serif;
  text-transform: uppercase;
}

/* Banner Section (GAME SHOW look) */
.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 50px); /* Four equal columns */
  width: 100%;
  gap: 0px; /* Space between boxes */
  text-align: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 900;
  /*padding: 0px 0;*/
  /*object-fit: cover;*/
}


.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*font-size: 2rem;*/
  /*font-weight: bold;*/
  color: white;
  height: 70px;
  margin: 0;
  padding: 0;       /* removes inner spacing */
  line-height: 1;   /* removes extra text spacing */
}

.box1 { background-color: #eb5e24; } 
.box2 { background-color: #a22824; } 
.box3 { background-color: #e54329; }
.box4 { background-color: #b42536; }
.boxwhite {background-color: white; }

.banner .show {
  background: #3ebcc5;
  color: white;
  width: 100%;
  flex: 1;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  padding: 0px 0;
}

/* Navigation table styling */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #1f315a; /* dark navy */
}

th {
    border: 3px solid white;
    padding: 20px 40px;
    text-align: center;
}

table a {
    text-decoration: none;
    color: #44c8d1; /* teal like NETWORK letters */
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 2px;
    display: block; /* makes whole cell clickable */
}

table a:hover {
    color: white;
}
