/* Reset */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

/* Banner Section (GAME SHOW look) */
.banner {
  display: flex;
  width: 100%;
}

.banner .game {
  color: #f5f1e8;
  flex: 1;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  padding: 40px 0;
}
.g { background-color: #eb5e24; }
.a { background-color: #a22824; }
.m { background-color: #e54329; }
.e { background-color: #b42536; }

.banner .show {
  background: #3ebcc5;
  color: #f5f1e8;
  flex: 1;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  padding: 40px 0;
}

/* Navigation table styling */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #1f315a; /* dark navy */
}

th {
    border: 3px solid white;
    padding: 20px 40px;
    text-align: center;
}

table a {
    text-decoration: none;
    color: #44c8d1; /* teal like NETWORK letters */
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 2px;
    display: block; /* makes whole cell clickable */
}

table a:hover {
    color: white;
}
